%h1 רשימת שירים
%p
  בקשות לשירים - אתם מוזמנים לבקש את השיר האהוב עליכם
  %sup
    %i.fa.fa-asterisk{style:"font-size:6px;"}

= button_to 'בקש שיר', new_song_path, class:"btn btn-primary", method: :get
%br

= will_paginate @songs, renderer: BootstrapPagination::Rails

%table.table.table-striped
  %tr
    %th שם
    %th מבצע
    %th סוג השיר
    %th

  - @songs.each do |song|
    %tr
      %td
        %strong= song.name
      %td= song.artist
      %td= song.human_song_type
      %td= link_to 'ערוך', edit_song_path(song)


%p#disclaimer
  %sup
    %i.fa.fa-asterisk
  המתקלט אינו מתחייב לרשימת השירים הנל

%ul.list-inline{style:"padding-right:0px;"}
  %li= button_to 'בקש שיר', new_song_path, class:"btn btn-primary", method: :get
  %li= button_to 'CSV', songs_path(format: "csv"), class:"btn btn-primary", method: :get
