!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "קירה ואילן מתחתנים"
    %meta{:content => content_for?(:description) ? yield(:description) : "קירה ואילן מתחתנים", :name => "description"}
    %link{href:"//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css",rel:"stylesheet"}
    %link{rel:"stylesheet", href:"http://fonts.googleapis.com/css?family=Open+Sans%3A400italic%2C600italic%2C700italic%2C400%2C300%2C600%2C700&amp;subset=latin%2Ccyrillic-ext%2Ccyrillic%2Cgreek-ext%2Cgreek%2Cvietnamese%2Clatin-ext&amp;ver=1", type:"text/css", media:"all"}
    %link{rel:"icon",href:"/favicon.gif",type:"image/gif"}
    
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    %header
      %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
        .container
          .container-fluid
            .navbar-header
              %button.navbar-toggle{"data-target" => "#myNavigation", "data-toggle" => "collapse", type: "button", style:"margin-left:8px;"}
                %i.fa.fa-bars
              .navbar-brand
                %a.animated.flipInX{href: "/"}
                  %img{alt: "", src: "/couple.png", style:"margin-top:-17px;padding-left:8px;"}
                  %span קירה ואילן
            #myNavigation.collapse.navbar-collapse
              %ul.nav.navbar-nav
                %li
                  %a{:href => "/wedding"} הזמנה
                %li
                  %a{:href => "/getting_there"} הגעה
                %li
                  %a{:href => "/songs"} שירים
                %li
                  %a{:href => "/transports"} הסעה
                %li
                  %a{:href => "/hitchhikes"} טרמפים
                %li
                  %a{:href => "/hotels"} לינה
                %li
                  %a{:href => "/gallery"} הגלריה
                %li
                  = link_to 'ברכות', wishes_path
              %ul.nav.navbar-nav.navbar-left{style:"margin-top:4px; margin-bottom:4px;"}
                %a.btn.btn-primary.navbar-btn.sign-btn{:href => "/approvals/new" } אישור הגעה
              
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer

