!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "קירה ואילן מתחתנים"
    %meta{:content => content_for?(:description) ? yield(:description) : "קירה ואילן מתחתנים", :name => "description"}
    %link{href:"//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css",rel:"stylesheet"}
    
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    %header
      %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
        .container
          .container-fluid
            .navbar-header
              %button.navbar-toggle{"data-target" => "#myNavigation", "data-toggle" => "collapse", type: "button", style:"margin-left:8px;"}
                %i.fa.fa-bars
              .navbar-brand
                %a.animated.flipInX{href: "/"}
                  %img{alt: "", src: "/couple.png", style:"margin-top:-17px;padding-left:8px;"}
                  %span קירה ואילן
            #myNavigation.collapse.navbar-collapse
              %ul.nav.navbar-nav
                %li
                  %a{:href => "/"} החתונה
                %li
                  %a{:href => "/getting_there"} הוראות הגעה
                %li
                  %a{:href => "/songs"} בקשות שירים
                %li
                  %a{:href => "/hitchhikes"} לוח טרמפים
                %li
                  %a{:href => "/hotels"} מקומות לינה
                %li
                  %a{:href => "/gallery"} הגלריה
              %ul.nav.navbar-nav.navbar-left
                %button.btn.btn-primary.navbar-btn.sign-btn
                  %a{:href => "/approvals/new" } אישור הגעה
              
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer

